html {
  background: url("diddyandkids.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  text-align: center;
  margin-top: 75px;
}
h1 {
  font-family: 'Helvetica', sans-serif;
  font-style: italic;
  text-align: center;
  color: gold;
  font-weight: bold;
  font-size: 75px;
}
.one {
  color: blue;
}
.two {
  border-style: dashed;
}
.three {
  color: pink;
}
.four {
  border-style: double;
}
.five {
  font-size: 150%;
}
